/* You can add global styles to this file, and also import other style files */
.container {
  margin-top: 5rem;
}

.text-center {
  text-align: center;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-lg-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.h-100 {
  height: 100%;
}

.card-img-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  object-fit: cover; /* Ensure image covers the area */
  height: 200px;      /* set a fixed height */
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-text {
  margin-top: 0;
  margin-bottom: 1rem;
}



/* Media query for screens smaller than 992px (large) */
@media (max-width: 991.98px) {
  .col-lg-4 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Media query for screens smaller than 768px (medium) */
@media (max-width: 767.98px) {
  .col-lg-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
